{% extends 'base.html'%}

{% block content %}

<div class="container">
	<h1 class="mt-5 fontsize-70 color-white f-bold">{%block title%} Nossa história{% endblock %}</h1>
	<div class="row align-items-center justify-content-center mt-5 w-100"
		style="font-size: 20px; font-weight: bold;"
		>
		<div class="col-6 scrll fullscreen text-justify">
			<p>
				A Eumeca Jr. surgiu em 2017 a partir da iniciativa de alunos do curso de Engenharia Mecatrônica do Instituto Federal de Santa Catarina – Campus Florianópolis, “loucos” por inovação e por empreendedorismo. Faz parte dos objetivos da nossa empresa júnior possibilitar que os estudantes apliquem seus conhecimentos em mecatrônica dentro do contexto do mercado, o que consequentemente colabora para formação de alunos mais preparados para os desafios da profissão.</p>

			<p>O nosso nome faz referência a palavra “Eureka”, popularmente conhecida por ter sido utilizada por Arquimedes, a qual significa “Descobri” ou “Achei”, em grego. Tal expressão foi proferida pelo cientista ao descobrir a solução para o problema imposto pelo Rei Hierão: descobrir a quantidade de ouro presente na coroa do rei sem a danificar. Assim como o matemático e inventor grego, a Eumeca procura solucionar os desafios propostos pelos clientes, desde criar produtos e tecnologias até otimizar processos já existentes.</p>

			<p>Diante disso, os valores da nossa equipe são os <strong>“5E da Eumeca”: Engajamento, Eficiência, Empreendedorismo, Entrega e Empatia.</strong> Queremos formar empreendedores que saibam entregar resultados com eficiência, além de apresentarem um bom engajamento nas atividades realizadas na empresa júnior e futuramente na sua trajetória profissional. Por fim, a empatia se refere a compreender bem os colegas de trabalho e os clientes.</p>
			</p>
		</div>
	</div>
</div>
{% endblock %}
