{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 p-5">
  <div class="row d-flex align-items-center jutify-content-center">
    <div class="col-md-4 p-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='images/members/ale.png')}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold f-roboto">Alessandra Fernandes</h3>
          <p class="card-text text-center title">Presidente</p>
          <p class="text-center">Eumeca JR</p>
          <div style="margin: 24px 0;" class=" text-center ">
            <a href="#"><i class="fa fa-linkedin a-black"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='images/members/filipe.png')}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold f-roboto">Filipe Bragra Pires</h3>
          <p class="card-text text-center title">Diretor Comercial</p>
          <p class="text-center">Eumeca JR</p>
          <div style="margin: 24px 0;" class=" text-center ">
            <a href="#"><i class="fa fa-linkedin a-black"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='images/members/Eduardo.png')}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold f-roboto">Eduardo Costa Kuner</h3>
          <p class="card-text text-center title">Diretor de Projetos</p>
          <p class="text-center">Eumeca JR</p>
          <div style="margin: 24px 0;" class=" text-center ">
            <a href="#"><i class="fa fa-linkedin a-black"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='images/members/elisa.png')}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold f-roboto">Elisa Anes Romero</h3>
          <p class="card-text text-center title">Diretora de Marketing</p>
          <p class="text-center">Eumeca JR</p>
          <div style="margin: 24px 0;" class=" text-center ">
            <a href="#"><i class="fa fa-linkedin a-black"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='images/members/michael.png')}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold f-roboto">Michael Perozo</h3>
          <p class="card-text text-center title">Diretor de Gestão Interna</p>
          <p class="text-center">Eumeca JR</p>
          <div style="margin: 24px 0;" class=" text-center ">
            <a href="#"><i class="fa fa-linkedin a-black"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
